
{% extends 'base.html' %}


{% block titulo %}Agregar Matrial Reciclable{% endblock titulo %}
{% block contenido %}

<h1>Add material</h1>


<form action="addrecordM/" method="post">
{% csrf_token %}
Descripción material:<br>
<input name="descripcion">
<br><br>
Proceso:<br>
<input name="proceso">
<br><br>


<input type="submit" value="Submit">


</form>


{% endblock contenido %}












































































































































































































































































































































































































































































































































