{% extends 'base.html' %}

{% block titulo %}Actualizar Medicamento{% endblock titulo %}
{% block contenido %}

<h1>Actualizar Medicamento</h1>
<form action="updaterecord/{{ mymember.id }}" method="post">
    {% csrf_token %}
    Nombre del Medicamento:<br>
    <input name="nombreMedicamento" value="{{ mymember.nombreMedicamento }}">
    <br><br>
    Cantidad en Stock:<br>
    <input name="cantidadStock" value="{{ mymember.cantidadStock }}">
    <br><br>
    Cantidad Dispensada:<br>
    <input name="cantDispensada" value="{{ mymember.cantDispensada }}">
    <br><br>
    Cantidad Ingresada:<br>
    <input name="cantIngresada"  value="{{ mymember.cantIngresada }}">
    <input type="submit" value="Actualizar">
</form>
<form action="updaterecord/{{ mymember.id }}" method="post">
{% csrf_token %}

</form>

{% endblock contenido %}
